html
  block head
    head
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
      block stylesheets
        link(rel="stylesheet", href="/style.css")
      block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
      block fonts
        script.
          WebFont.load({
            google: {
              families: ['Ubuntu:300,400', 'Source Code Pro']
            },
            custom: {
              families: ['icomoon'],
              testStrings: {
                'icomoon': '\ue900'
              }
            }
          });
        style.
          @font-face {
            font-family: 'icomoon';
            src: url('fonts/icomoon.eot?l8j70p');
            src: url('fonts/icomoon.eot?#iefixl8j70p') format('embedded-opentype'), url('fonts/icomoon.woff?l8j70p') format('woff'), url('fonts/icomoon.ttf?l8j70p') format('truetype'), url('fonts/icomoon.svg?l8j70p#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
          }
        link(rel = "stylesheet", href = "/fonts/icomoon.css")
  block body
    body.index
      header
        img(src="/images/calvin.png")
        //h1.h2.logo
          | Jadeless
      nav.side-nav
        //h1.h2.logo
          | Jadeless
        img(src="/images/calvin.png")
        br
        br
        ul.links
          li
            a.h3(href="#about")
              | About
          li
            a.h3(href="#portfolio")
              | Work
          li
            a.h3(href="#tools")
              | Tools
          li
            a.h3(href="#hello")
              | Hello
      section#about
        .content
          .description.column
            h2
              | About Me
            p
              | My name is Nikita Kuznetsov and I love building web applications.
              | I am passionate about adaptive user interfaces and intuitive user experiences.
            p
              | Since I was a kid, I was destined to be an engineer. I played with LEGOs practically non-stop well past
              | the acceptable age for a kid to still be playing with LEGOs.
            p
              | During my teenage years, I taught myself how to build websites using HTML and CSS, adding interactivity
              | with Flash. Yes. Flash.
            p
              | After graduating university in 2010, I began building web applications professionally.
              | I worked on drag-and-drop games for an educational startup,
              | customer loyalty apps for a marketing startup,
              | dynamic consumer funnels and dashboards for an energy startup,
              | data application monitoring tools for a data startup,
              | and a graphical chat app for a collaboration startup.

      section#portfolio
        .content
          .column
            h2
              | Recent Work
          .projects
            .project.dialectica
              .description.column
                h3
                  | Dialectica
                p
                  | Traditional digital communication is linear and doesn't account for logical connections between
                  | individual statements. Dialectica is a way for people to communicate in a graphical format with the
                  | ability to specify the intent of their statements in context and visualize the structure of their
                  | conversations.
              .screenshot.column
                img(src="/images/dialectica-screenshot.jpg")
              .link.column(style="width:100%;text-align:right;")
                p
                  | See more at&nbsp;
                  a(href="http://bit.ly/ohbruhwhereartthou")
                    | bit.ly/ohbruhwhereartthou
            .project.undeadlifts
              .description.column
                h3
                  | Undeadlifts
                p
                  | Unsatisfied with workout tracking apps on the market, I decided to build my own. Undeadlifts
                  | features the ability to create custom routines, record and track progress, set rest intervals
                  | between sets.
              .screenshots.column.no-padding
                .screenshot.column
                  img(src="/images/undeadlifts-screenshot.jpg")
                .screenshot.column
                  img(src="/images/undeadlifts-screenshot-2.jpg")
              .link.column(style="width:100%;text-align:right;")
                p
                  | See the app at&nbsp;
                  a(href="http://undeadlifts.com")
                    | undeadlifts.com
            .project.coming-soon
              .description.column
                h3
                  | More Coming Soon

      section#tools
        .content
          .description.column
            h2
              | Favorite Tools
            p
              | In the web application world, I think how you build is as important what you build.
              | I've had the pleasure of working with a wide variety of tools over my years and
              | below are some of my all time favorite tools.
          .tool.column
            .logo-wrapper
              img(src="/images/AngularJS-Shield-medium.png")
            p
              | AngularJS - everything a web application engineer could ever desire of a framework.
          .tool.column
            .logo-wrapper
              img(width="128px", src="/images/firebase-icon128.png")
            p
              | Firebase - an easy-to-use real-time JSON database with built-in authentication services.
          .tool.column
            .logo-wrapper
              img(width="128px", src="/images/jade.png")
            p
              | Jade - a simple, succinct, powerful, and beautiful template language.
          .tool.column
            .logo-wrapper
              img(width="128px", src="/images/less.jpeg")
            p
              | Less - simple stylesheets with all the necessities and less clutter.
          .tool.column
            .logo-wrapper
              img(width="128px", src="/images/bootstrap.png")
            p
              | Bootstrap - well-designed, well-built, and easy-to-use components.
          .tool.column
            .logo-wrapper
              img(width="128px", src="/images/gulp.png")
            p
              | Gulp - quickly perform complex build tasks with the power of node streams.
      section#hello
        .content
          .column
            h2
              | Hello
            p
              | If you'd like to say hello, send me an email at&nbsp;
              a(href="mailto:hello@jadeless.com?Subject=Hello!")
                | hello@jadeless.com.
            img(src="/images/sleeping.jpg")
      section#copyright
        .content
          .column
            p
             | &copy; 2015 Nikita Kuznetsov. All rights surrendered.