html
  block head
    head
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-65965275-1', 'auto');
        ga('send', 'pageview');
      block stylesheets
        link(rel="stylesheet", href="/style.css")
      block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
      block fonts
        script.
          WebFont.load({
            google: {
              families: ['Ubuntu:300,400', 'Source Code Pro']
            },
            custom: {
              families: ['icomoon'],
              testStrings: {
                'icomoon': '\ue900'
              }
            }
          });
        style.
          @font-face {
            font-family: 'icomoon';
            src: url('fonts/icomoon.eot?l8j70p');
            src: url('fonts/icomoon.eot?#iefixl8j70p') format('embedded-opentype'), url('fonts/icomoon.woff?l8j70p') format('woff'), url('fonts/icomoon.ttf?l8j70p') format('truetype'), url('fonts/icomoon.svg?l8j70p#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
          }
        link(rel = "stylesheet", href = "/fonts/icomoon.css")
  block body
    body.index
      section#name
        h1
          | Nikita Kuznetsov

      section#experience
        .content
          h2
            | Experience
          ul.no-style
            li
              .title
                | Senior Front End Engineer at Sellpoints
              .dates
                | August 2016 - November 2017 (1 year 4 months)
              ul.details
                li
                  | Architected, implemented, and maintained AngularJS applications that allowed manufacturers to manage their product data and marketing content, and publish both to various sales channels including websites like Amazon, Costco, Walmart, and Target.
                li
                  | Participated in defining feature requirements, wireframes, designs, and project planning.
                li
                  | Lead team discussions to help decide which technologies, tools, and patterns to use for efficiently delivering the highest quality features and experiences to our users.
                li
                  | Provided guidance to less experienced engineers in design, implementation, and best practices for writing enterprise quality code that is maintainable and scalable.
                li
                  | Redesigned every application in our ecosystem for predictability and usability according to Google’s Material Design guidelines
            li
              .title
                | Software Engineer at Sellpoints
              .dates
                | August 2015 - August 2016 (1 year 1 month)
              ul.details
                li
                  | Increased development speed and developer sanity by modularizing the existing codebase according to code responsibility and rewriting the frontend build to reduce application build and load time.
                li
                  | Led team discussions and created documentation on best practices for building enterprise quality applications and introduced and implements unit tests using Jasmine and end-to-end tests using Protractor.
                li
                  | Worked with less experienced front end engineers to identify and remove technical debt, code redundancy, and improve code quality.
                li
                  | Helped redesign our API patterns for consistency and usability using RESTful principles with some improvements for querying and updating multiple entities at a time.
            li
              .title
                | Full Stack Software Consultant at Jadeless
              .dates
                | September 2013 - August 2015 (1 year 11 months)
              ul.details
                li
                  | Consulted for a variety of startups using AngularJS, Node.js, Java, PHP, MySQL, Firebase, and Django.
                li
                  | Collaborated with other engineers to build cross-platform one page web applications with real-time data using web sockets.
                li
                  | Worked with founders and product managers to design and build clean and easy to use user interfaces and intuitive user experiences.

            li
              .title
                | Web Applications Engineer at ChooseEnergy
              .dates
                | September 2012 - September 2013 (1 year 1 month)
              ul.details
                li
                  | Built, maintained, and iterated on frontend applications using Django, MySQL, and BackboneJS, and LESS.
                li
                  | Collaborated with product and business teams to design, develop, and consistently deliver quality improvements in rapid development cycles.
                li
                  | Helped manage testing and production environments and integration testing using Jenkins.
                li
                  | Lead design sessions to improve conversion rates and used Mixpanel for A/B testing.

            li
              .title
                | Full Stack Engineer at MePlease
              .dates
                | October 2011 - September 2012 (1 year)
              ul.details
                li
                  | Maintained and improved legacy web applications using Java, MySQL, JSP, and jQuery.
                li
                  | Collaborated with project managers and designers to design and develop new applications.
                li
                  | Worked with QA team to test and debug our applications across a wide variety of platforms.
      section#education
        .content
          h2
            | Education
          ul.no-style
            li
              .title
                | B.S. Biophysics at University of California, Los Angeles
              .dates
                | September 2007 - August 2010 (3 years)
              ul.details
                li
                  | Studied Calculus, Differential Equations, Linear Algebra, Classical and Quantum Mechanics, Thermodynamics, Electrodynamics, Inorganic and Organic Chemistry, and Biochemistry
                li
                  | Worked in a particle beam physics lab designing experiments and modifications to accelerations and debugging issues in the experiments.
                li
                  | Participated in the break dance and other street dance style communities on campus

            li
              .title
                | California State University, East Bay
              .dates
                | January 2004 - June 2005 (1 year 6 months)
              ul.details
                li
                  | Studied Communications, Computer Architecture, Assembly Language, Operating Systems, and Programming Language Concepts

      section#rollerblading
        .content
          h2
            | Rollerblading
          p
            | Blade is life
          img(src="/images/rollerblading.jpg")

      br
      hr

      section#hello
        .content
          p
            | If you'd like to say hello, send me an email at&nbsp;
            a(href="mailto:hello@jadeless.com?Subject=Hello!")
              | hello@jadeless.com.
          img(src="/images/sleeping.jpg")
      section#copyright
        .content
          .column
            p
             | &copy; 2018 Nikita Kuznetsov. All rights surrendered.