@import 'vendor/normalize';

body {
  background-color: #222222;
  color: #dddddd;
}

section {
  .gutter, .content { display: inline-block; vertical-align: middle; }
  .gutter { width: 0; }
  .content { width: 100%; }
}

body.index {
  font-family: 'Ubuntu', sans-serif;
  section.first {
    .gutter { height: 100%; }

    .content { text-align: center; }
  }
}

