@import 'vendor/normalize';

@side_nav_width: 11em;

@large_breakpoint: 80em;
@medium_breakpoint: 64em;
@small_breakpoint: 48em;
@hide_side_nav_breakpoint: 40em;

@light_gray: #f0f0f0;

.ghost-align() {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

body {
  color: #404040;
}

a {
  color: #00bf99;
  text-decoration: none;

  &:hover {
    color: #00e5a4;
  }
}

img {
  max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Source Code Pro', sans-serif;
}

h1, .h1 {
  font-size: 2.2em;
  margin: 0.4em 0;
}

h2, .h2 {
  font-size: 1.7em;
  margin: 0.4em 0;
}

h3, .h3 {
  font-size: 1.3em;
  margin: 0.35em 0;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

body {                       font-size: 22px;
  @media (max-width: @large_breakpoint) { font-size: 20px; }
  @media (max-width: @medium_breakpoint) { font-size: 18px; }
  @media (max-width: @small_breakpoint) { font-size: 16px; }
}


body.index {

  header {
    display: none;
    background: #fafafa;

    @media (max-width: @hide_side_nav_breakpoint) {
      display: block;
    }

    height: 4em;
    padding: 0 1em;

    .ghost-align();

    .logo {
      display: inline-block;
      font-size: 2em;
    }
  }

  section {
    max-width: 44em;
    margin: 1em 0 0 @side_nav_width;
    border-top: 1px solid @light_gray;
    padding: 1em 0;

    &:first-of-type {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }

    @media (max-width: @hide_side_nav_breakpoint) { margin: 0; }

    .content {
      padding: 0 1em;

      @media (max-width: @small_breakpoint) {
        padding: 0;
      }
    }

    .column {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      padding: 1em;
      direction: ltr;

      &.no-padding {
        padding: 0;
      }
    }
  }

  section#about {
    .description {
      img {
        float: right;
        max-width: 200px;
        padding: 4em 1em 1em 1em;

        @media (max-width: 30em) {
          display: none;
        }
      }
    }
  }

  section#tools {
    .tool {
      width: 50%;

      @media (max-width: @small_breakpoint) { width: 100% }

      p {
        margin: 0;
      }

      .logo-wrapper {
//        .ghost-align();
        float: left;
        width: 96px;
        height: 96px;
        margin-right: 1em;

        @media(max-width: @small_breakpoint) {
          width: 64px;
//          height: 64px;
        }

        img {
          vertical-align: top;
        }
      }
    }
  }

  section#portfolio {
    .dialectica {
      .description { width: 50%; }
      .screenshot { width: 50%; }

      @media (max-width: @large_breakpoint) {
        .description, .screenshot { width: 100%; }

        .screenshot {
          text-align: center;
        }
      }
    }

    .undeadlifts {
      margin-top: 2em;
      border-top: 1px solid @light_gray;
      padding-top: 2em;

      .description { width: 40%; }
      .screenshots { width: 60%; }
      .screenshot { width: 50%; }

      @media (max-width: @large_breakpoint) {
        .description, .screenshots { width: 100%; }
      }
    }
  }
}

.side-nav {
  position: fixed; top: 0; left: 0; bottom: 0; width: @side_nav_width;
  text-align: right;
  box-sizing: border-box;
  padding: 1.5em;
  background: #fcfcfc;
  border-right: 1px solid @light_gray;

  @media (max-width: @hide_side_nav_breakpoint) {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0.5em 0;
  }
}