section.homepage
  .input-wrapper
    label(for="homepage-h1")
      | H1
    input#homepage-h1(type="text", ng-model="homepage.h1")
  .input-wrapper
    label(for="homepage-h2")
      | H2
    input#homepage-h2(type="text", ng-model="homepage.h2")
  .input-wrapper
    button.save-changes(ng-if="auth.uid === 'google:106068825523283570806'", ng-click="saveChanges()")
      | Save Changes
    button.save-changes(ng-if="auth.uid !== 'google:106068825523283570806'", disabled="true", title="Only admin can save changes")
      | Save Changes