@nav_width: 12em;
@nav_text_color: #d0d8f0;

@admin_background: #f0f0f0;
@admin_header_background: #ffffff;
@admin_section_background: #ffffff;

@label_width: 5em;
@input_margin_left: 0.5em;

body.admin {
  background-color: @admin_background;
  color: #222222;

  nav {
    position: fixed; top: 0; left: 0; bottom: 0; width: @nav_width;
    background-color: #20262c;
    color: @nav_text_color;
  }

  .nav-header {
    padding: 0.5em 1em;

    h4 {
      margin: 0.5em 0 0 0;
    }
  }

  ol.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li.nav-item {
    padding: 0.5em 1em;
  }

  header, #content {
    padding: 0.75em 1em 0.5em (@nav_width + 1em);
  }

  header {
    background: @admin_header_background;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    h1 {
      margin: 0;
      font-size: 1.5em;
    }

    .state-icon,
    .state-title {
      display: inline-block;
      padding: 0 0.125em;
    }
  }

  #content {
    section {
      padding: 1em;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background: @admin_section_background;

      .input-wrapper {
        padding: 0.25em 0;
      }

      label {
        display: inline-block;
        width: @label_width;
        text-align: right;
      }

      input {
        margin-left: @input_margin_left;
      }

      button.save-changes {
        margin-left: @label_width + @input_margin_left;
      }
    }
  }
}