.preview-link
  a.icon-eye(href="/")
nav
  .nav-header
    h4
      | Jadeless Admin
  ol.nav-list
    li.nav-item.auth
      a(ui-sref="admin.homepage")
        | Home page
    li.nav-item.auth
      a(ng-if="!auth", ng-click="login()")
        | Login
      a(ng-if="auth", ng-click="logout()")
       | Logout
#wrapper
  header
    h1
      .state-icon(ng-class="$state.current.icon")
      .state-title(ng-bind="$state.current.title")
  #content
    ui-view